<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body>
    <h1>用户登录</h1>
    <div>
        <form th:action="@{/user/login}" th:method="post">
            用户名：<input type="text" name="username"/><br/>
            密码：<input type="password" name="password"/><br/>
            银行号：<input type="text" name="bankno" maxlength="3" minlength="3"/><br/>
            <input type="checkbox" name="rememberme" value="记住我"/>记住我
            <input type="submit" value="登录"/>
        </form>
        <span style="color:red" th:text="${msg}"></span>
    </div>
</body>
</html>